/* ----------------- GLOBAL STYLES -----------------*/
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'ArcadeGamer', 'Segoe UI', sans-serif;
    background-color: #0d072a /* FEEL FREE TO CHANGE IS PLACEHOLDER*/
}

@font-face {
    font-family: 'ArcadeGamer';
    src: url('assets/ARCADECLASSIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ---------------- NAVBAR LAYOUUT --------------- */
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto 0 auto;
}

/* ---------------------- NAV BUTTON STYLING ------------------- */
.nav-button {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #696161bd; /* FEEL FREE TO CHANGE, PLACEHOLDER */
    border: 2px solid #000000; /* See above comment */
    border-radius: 14px;
    padding: 14px 20px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.5s ease, background 0.1s ease;
}
.nav-button:active {
    transform: scale(0.98);
}
.nav-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
}
.nav-text {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000; /* Another placeholder */
    letter-spacing: 0.05em;
}
.heat-button {
    overflow: hidden;
    background: linear-gradient(to right, #ff3b30 0%, #ff9500 0%, #696161bd 0%);
}

/* -------------------- GAME AREA + WHEEL ---------------- */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.wheel-container {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#spin-wheel {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: grab;
    user-select: none;
    touch-action: none;
    will-change: transform;
}
#spin-wheel:active {
    cursor: grabbing;
}